/*-------- PADDING-MARGIN RESET --------*/

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #333;
  margin: 0;
  background-image: url(https://www.netpremacy.com/wp-content/uploads/2018/09/Background-website-01.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*--------- NAV MENU --------- */

header nav {
  background-color: slategrey;
	height: 44px;
	width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed;
  z-index: 1000;
}


nav ul {
  width: 65%;
  height: 44px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  height: 44px; 
	line-height: 44px;
	padding: auto;
}

header nav ul li a {
	text-decoration: none; 
	color: lightgrey;
  }

header nav ul li a:visited {
  text-decoration: none; 
  color: lightgrey;
  }
  
@media (max-width: 460px) {
  header nav ul {
    padding-left: 0;
  }
}

/*----------- MAIN SECTION -----------*/

h1 {
  font-size: 4rem;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}


#main {
  margin: 30px 8px;
  padding: 40px;
  border-radius: 5px;
}

@media (max-width: 460px) {
  #main {
   margin: 50px 0 0 0;
  }
}

figure img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  position: static;
  z-index: 100; 
}


#img-div{
  background: whitesmoke;
  opacity: .8;
  padding: 10px;
  margin: 0;
  position: static;
  z-index: 50;
}


#img-caption {
  margin: 15px 20px 5px 22px;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
    margin: 15px 5px;
    text-align: justify;
  }
}


#headline {
  margin: 50px 0;
  text-align: center;
}

/*--------- TRIBUTE INFO ---------*/

.caja { 
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #FFF; 
  font-size: 18px; 
  font-weight: 400; 
  text-align: justify; 
  background: gray; 
  margin: 20px; 
  overflow: hidden; 
  padding: 40px; 
  border-radius: 35px 0px 35px 0px; 
  -moz-border-radius: 35px 0px 35px 0px; 
  -webkit-border-radius: 35px 0px 35px 0px; 
  border: 2px solid grey;}

@media (max-width: 460px) {
  .caja {
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
  color: #FFF; 
  font-size: 1.4rem; 
  font-weight: 400; 
  text-align: justify; 
  background: gray; 
  margin: 20px auto 20px auto; 
  overflow: hidden; 
  padding: 15px; 
  border-radius: 35px 0px 35px 0px; 
  -moz-border-radius: 35px 0px 35px 0px; 
  -webkit-border-radius: 35px 0px 35px 0px; 
  border: 2px solid grey;
    }
  }

ul {
  max-width: 550px;
  margin: 0 auto 50px auto;
  text-align: left;
  line-height: 1.6;
}

li {
  margin: 16px 0;
}

blockquote {
  font-style: italic;
  max-width: 545px;
  margin: 0 auto 50px auto;
  text-align: left;
}

@media (max-width: 460px) {
  h3 {
    font-size: 1.5rem;
  }
}


/*----------- FOOTER ----------*/


footer p:first-of-type {
  font-size: 2rem;
  text-align: center;
  color: #000;
}

footer p:nth-of-type(2) {
  color: grey;
}

footer p:nth-of-type(3) {
  color: #000;
}

footer p:nth-of-type(4) {
  color: grey;
}

footer {
  background-color: transparent;
}

footer ul{
  text-align: center;
  margin-bottom: 0;
}
footer ul li{
  display: inline-block;
  font-size: 15px
}


.first::before{
  content: ". ";
color: #3b5998;
}
.second::before{
  content: ". ";
color: #fcaf45;
}
.third::before{
  content: ". ";
color: #55acee;
}
.fourth::before{
  content: ". ";
color: #c4302b;

}

div a {
  text-decoration: none;
  color: #333;
}
